<div class="jumbotron">
    <h1 class="display-3">Hot Juicy Burgers!</h1>
    <img src="/assets/img/burger.jpeg" width="400px" id="cute_burger">
    <p class="lead">Create A burger and then DEVOUR it!</p>
    <h1>Eat-Da-Burger!</h1>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s6">
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <div>
                        {{!-- <form action="/burgers/{{this.id}}?_method=PUT" method="POST"> --}}
                            <button data-id="{{this.id}}" type="submit" class="devour-btn"> {{this.burger_name}}</button>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>

                <div class="col s6">
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <div class='burgerEaten'>
                        <div>
                            {{this.burger_name}}
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </main>

    <h2>Add A Burger Option</h2>

    <div class="row">
        <div class="col s12">
                <input type="text" id="name" name="burger_name" placeholder="Burger">
                <button onclick="addBurger()" type="submit" class="addBurgerButton">Add Burger</button>
            
        </div>
    </div>

</div>
